.GalleryElement {
	overflow: hidden;
	text-align: center;
}
#GALLERY_IMG {
	width: 1100px;
	max-width:90%;
	display: inline-block;
	object-fit: contain;
	background-size: contain;
	
	border: 2px solid white;
	border-radius: 25px;
}
#GALLERY_IMG:hover {
	border: 2px solid pink;
}
#GALLERY_IMG:active {
	border: 2px solid white;
}