#PRODUCT_GALLERY {
	
	text-align: center;
}
#GALLERY {
	text-align: center;
	
	font-size: 50px;
}
#SEPERATOR {
	width:100%;
	display: inline-block;
	max-width: 1200px;
	height: 2px;
	background-color:rgba(85, 126, 254, 0.4);
}
#HOMEPAGE {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	
	text-align: center;
}
#TOPDIV {
	height: 100px;
	line-height:100px;
	width: 100%;
	
	background-color:rgba(248, 118, 215, 1);
	text-align: center;
	font-size: 5vmin;
	
	color: white;
	z-index:9;
}

#HOMESLIDESHOW {
	position: absolute;
	left: 5%;
	top: 100px;
	
	width:90%;
	height: 60vmin;
	
	/*border-top: 1px solid rgba(248, 118, 215, 1);*/
	border-bottom: 1px solid rgba(248, 118, 215, 1);
	background-color: white;
}
#LOGO_SLIDE_IMG {
	width:90%;
	height:40vh;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	object-fit: contain;
	
	//border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.LASHNAMEPRICE_HOME {
	color: rgba(50, 50, 50, 1);
	
	font-size: 3vmin;
}
#TOPDIV_CART {
	position: absolute;
	right: 25px;
	top:25px;
	width: 50px;
	height: 50px;
	z-index: 8;
}
#TOPDIV_CART:hover {
	border: 1px solid pink;
}
#TOPDIV_CART:active {
	border: 1px solid white;
}
#TOP_DIV_T {
	position: absolute;
	right: 5px;
	top:-13px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	
	color: red;
	font-size: 20px;
	z-index: 9;
}


#NUMBER_CART {
	position: absolute;
	right: 10px;
	top:-15px;
	width: 50px;
	height: 50px;
	z-index: 11;
	
	font-size: 30px;
	
	color: red;
}

#HOME_ABOUT {
	width:100%;
	height: calc(100% - (40vh + 100px));
}
#HOME_ABOUT_CONT_DIV {
	float: right;
	width: 45%;
	height: 100%;
	
	font-size: 1.3vmax;
}
#HOME_ABOUT_P_TITLE {
	width: 100%;
	color: rgba(248, 118, 215, 1);
	font-size: 8vmin;
}
#HOME_ABOUT_CONT {
	width: 100%;
}
#HOME_ABOUT_IMG_DIV {
	float: left;
	width: 50%;
	height: 100%;
	
	text-align: center;
}
#HOME_ABOUT_IMG {
	width: 100%;
	max-width: 400px;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
	display: inline-block;
	border-radius: 25px;
}

#SOCIALMEDIA {
	width: 800px;
	max-width: 100%;
	display: inline-block;
}
#IG {
	width: 30%;
	float: left;
}
#TIKTOK {
	width: 30%;
	float: right;
}

#NAME {
	text-align: center;
	font-size: 4vmin;
}
#EMAIL {
	text-align: center;
	font-size: 4vmin;
}